* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.submenu-1{
    display: none;
}
.topnav{
    width: 100vw;
    overflow-x: hidden;
    border-top: 1px solid #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
.logo{
    padding: 30px;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 25px;
}
.navlinks{
    display: flex;
    list-style: none;
    padding: 30px;
    margin-right: 10px;
}
.navlinks a{
    position: relative;
    text-decoration: none;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    letter-spacing: 1.4px;
}

.navlinks a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 7px;
    left: 50%;
    background: #fff;
    transition: 0.3s;
}
.navlinks a:hover::after{
    left: 0;
    width: 100%;
}
.active{
    transform: scale(1.2);
    margin-right: 20px;
}
.active a{
    color: #fff;
    padding: 10px;
    
}
.hamburger{
    width: 12px;
    display: none;
    cursor: pointer;
}
.topdisplay{
    position: relative;
    background-color: #000;
    height: 400px;
    width: 100vw;
    animation: IntroLoad 2s forwards;
}
.topdisplay::before,
.topdisplay::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-2.5deg);
}
.container{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}
.herotxt{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 30px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.signbox{
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(87, 39, 39);
    border-radius: 8px;
    margin-top: 9%;
    margin-left: 30%;
    z-index: 999;
    animation: IntroLoad 2s forwards;
}
.signbox h2{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.formbox{
    width: 100%;
}
.fieldbox{
    width: 100%;
    margin: 30px 0;
    position: relative;
}
.fieldbox input{
    width: 100%;
    height: 45px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
}
.fieldbox input:focus{
    border-color: #4285f4;
}
.fieldbox input:focus + .formlabel,
.fieldbox input:valid + .formlabel{
    top: -10px;
    font-size: 12px;
}
.formlabel{
    position: absolute;
    top: 10px;
    left: 15px;
    color: gray;
    font-weight: 500;
    font-family: Arial;
    transition: .3s ease-in;
    background-color: white;
    padding: 0 4px;
}
.formbox button{
    width: 120px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 30px;
    font-weight: 500;
    cursor: pointer;
}
.formbox button:hover{
    background-color: #2361c7;
}
.welcomer{
    padding-top: 100px;
    margin-left: 10rem;
    width: 50%;
}
.welcomer h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    font-weight: 100;
    padding-left: 60px;
    line-height: 1.5;
}
.welcomer p{
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;
}
 .subtext{
    width: 100%;
    margin-top: 5%;
    padding-top: 30px;
    overflow: hidden;
    box-sizing: content-box;
    height: 100%;
    /* background-color: red; */
}
.subcontainer {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.subcontainer h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 25.5px;
}
.subcontainer p{
    text-align: center;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
    transition: 0.5s;
}
.sub-col{
    margin: auto;
    flex-basis: 29%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    margin-bottom: 5%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}
.sub-col:hover {
     transform: scale(1.1);
    
} 

.sub-subtxt{
    text-align: center;
}
.sub-subtxt h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
    margin-top: 5%;
    
}
.subshowcase{
    background: rgb(22, 21, 21);
    height: 300px;
    border: 2.8px solid #048aed;
    border-radius: 10px;
    /* margin: 10px; */
    width: 60vw;
    margin: auto;
    /* margin-bottom: 20%; */
    position: relative;
}
.subshowcase::after{
    content: '';
    position: absolute;
    width: 9%;
    height: 5.7em;
    background: #048aed;
    border-radius: 20%;
    left: -3em;
    top: 2em;
}
.subshowcase::before{
    content: '';
    position: absolute;
    width: 9%;
    height: 5.7em;
    background: #048aed;
    border-radius: 20%;
    left: 49em;
    top: 10.9em;
    
}
.subcase{
    display: flex;
    justify-content: space-between;
}
.subcase img{
    padding-right: 10.7em;
}
.arrow-down{
    fill: wheat;
    height: 2px;
}
.feature_case{
    padding-left: 5.9rem;
    padding-top: 3.9em;
}
.feature_case li{
    color: #fff;
    list-style: none;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
}
.feature_case li::before{
    content: '';
    position: absolute;
    left: -2em;
    top: .3em;
    width: 15px;
    height: 20px;
    background-image: url('/check-circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.aim{
    margin-bottom: 5%;
    text-align: center;
    
}
.aim h3{
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    margin-top: 8%;
    font-size: 39px;
    font-weight: 90;
}
.aim p{
    
    padding: 0 20px;
    /* text-align: center; */
}
/* .pic-atrract{
    background-color: #000;
    
    position: relative;
} */
/* .pic-atrract::before,
.pic-atrract::after{
    content: '';
    position: absolute;
    height: 110px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-7deg);
} */
.pic-container{
    width: 100%;
    display: flex;
    /* flex-basis: 32%; */
    justify-content: space-around;
    border-radius: 10px;
    
    position: relative;
    overflow: hidden;
}
.pic-head{
    display: flex;
    justify-content: space-around;
    margin-top: 5.2%;

}
.pic-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 500;
}
.picture-col {
    /* width: 100%; */
    display: flex;
    /* flex-basis: 32%; */
    justify-content: space-around;
    border-radius: 10%;
    position: relative;
    margin-top: 2%;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 900;
}
.picture-col img{
    /* position: absolute; */
    width: 20.6em;
    border-radius: 10%;
    display: block;
}
.picture-col :hover{
    background: rgba(4, 9, 30, 0.6);
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover h3{
    color: #fff; 
    font-weight: 200;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0 ;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.contact{
   text-align: center;
   margin-bottom: 7%;
}
.contact h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}
.contact p{
    font-family: tahoma;
    margin-bottom: 1%;
}
.contact-icons{
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(4, 9, 30, 0.6);
    margin: auto;
}
.contact-icons img{
    padding:0 10px;
}
.support{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10%;
}
.support h3{
    font-family: sans-serif;
    font-size: 27px;
}
.support h4{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.support p{
    font-size: large;
}
.support a{
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 9px;
    border: 1px solid #000;
}
.footer{
    background-color: rgb(27, 23, 23);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-footer{
    font-size: 28px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #fff;
}
.navlinks-footer_1 li{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    list-style-type: none;
    font-family: sans-serif;
    padding: 3px;
    font-size: 14px;
}
.navlinks-footer_2 li{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    list-style-type: none;
    font-family: sans-serif;
    padding: 3px;
    font-size: 14px;
}
.copy p{
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}
.love{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(27, 23, 23);
}
.love p{
    font-family: sans-serif;
    font-size: 14.8px;
    color: #fff3f3;
}
@keyframes IntroLoad{
    from {
        clip-path: polygon(0 0 ,100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0 ,100% 0, 100% 100%, 0 169%);
    }
}
@media screen and (max-width:767px){
    .hamburger{
        display: block;
        padding: 10px;
        
    }


    .navlinks{
        position: fixed;
        width:50%;
        height: 100vh;
        background: rgba(4, 9, 30, 0.6);
        display: flex;
        flex-direction: column;
        top: 13.7%;
        z-index: 999;
        right: 0;
        margin: 0;
        padding-top: 40px; 
        align-items: center;
        transform: translateX(100%);
        gap: 70px;
        transition: transform .4s ease-in-out;
    }
    
    .navlinks.show{
        /* left: 0; */
        transform: translateX(0);
    }
}

/* @keyframes introLoad{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
} */